* {
  text-shadow: none !important;
}

.team:after, .matchesContainer:after, .matchesContainer .matchContainer:after {
  content: '';
  display: table;
  clear: both;
}

@CHARSET "ISO-8859-1";
.team {
  float: left;
  display: inline;
  text-align: center;
}
.team .teamName {
  color: #009900;
}
.team .teamIcon {
  max-height: 64px;
  max-width: 64px;
}

.menuPanel {
  min-height: 100%;
}
.menuPanel .ui-panel-inner {
  margin: 0;
  padding: 0;
}

@CHARSET "ISO-8859-1";
.matchesContainer {
  padding-left: 0;
}
.matchesContainer li {
  list-style-type: none;
}
@media (max-width: 500px) {
  .matchesContainer li {
    width: 100%;
  }
}
@media (min-width: 501px) {
  .matchesContainer li {
    width: 50%;
    float: left;
  }
}
.matchesContainer .matchContainer .teamLeft {
  -webkit-transform: perspective(100px) rotateY(20deg);
}
.matchesContainer .matchContainer .teamRight {
  -webkit-transform: perspective(100px) rotateY(-20deg);
}

@CHARSET "ISO-8859-1";
.matchContainer {
  border: solid 1px #e9e9e9;
  border-radius: 5px;
}
.matchContainer .matchHeader {
  background-color: #e9e9e9;
}
.matchContainer .matchContent span {
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}
.matchContainer .team {
  width: 50%;
  display: inline;
}

@CHARSET "ISO-8859-1";
.matchDetail .matchContainer .teamLeft {
  -webkit-transform: perspective(100px) rotateY(20deg);
}
.matchDetail .matchContainer .teamRight {
  -webkit-transform: perspective(100px) rotateY(-20deg);
}

.otherGuessesContainer {
  margin-top: 25px;
}
.otherGuessesContainer div {
  margin: 0;
  padding: 0;
}
.otherGuessesContainer .resultContainer {
  float: right;
}

.ui-panel-animate.ui-panel-open.ui-panel-position-right.ui-panel-display-overlay {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: -5px;
}
.ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay {
  left: 15px;
}

@CHARSET "ISO-8859-1";
.authContainer {
  display: inline;
  position: absolute;
  right: 0;
  margin: .5em 5px;
}
.authContainer .authIcon {
  max-width: 32px;
  max-height: 32px;
  border-radius: 10px;
  float: left;
  margin-left: 5px;
}
.authContainer .authName {
  display: inline-block;
  width: calc(100% - 37px);
  height: 32px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}
.authContainer .authLogout {
  text-align: center;
}
.authContainer .authLogout button.ui-btn {
  width: 100%;
}

.ui-panel-inner {
  padding-left: 0;
  padding-right: 0;
}

.points .ui-li-static {
  background-color: #B2E0B2;
}
.points .pointsResult {
  float: right;
}

.overview .userIcon {
  border-radius: 50% !important;
}
.overview li:before {
  color: #009900;
  font-size: 2em !important;
}
.overview .ui-grid-b {
  display: inline;
  float: right;
  width: 80%;
}
.overview .myUser {
  background-color: #B2E0B2;
}

/*# sourceMappingURL=main.css.map */
