@CHARSET "ISO-8859-1";

.authContainer {

  display: inline;

  position: absolute;
  right: 0;
  
  margin: .5em 5px;
  
  .authIcon {
    max-width: 32px;
    max-height: 32px;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
  }
  
  .authName {
    display: inline-block;
    width: calc(100% - 37px);
    height: 32px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  .authLogout {

    button.ui-btn {
        width: 100%;
    } 

    text-align: center;
  }
  
}

.ui-panel-inner{
  padding-left: 0;
  padding-right: 0;
}
