@CHARSET "ISO-8859-1";

$rotationDeg: 20deg;

.matchesContainer {
	@include clearfix;
	padding-left: 0;
	
	li {
		list-style-type: none;
	}
	
	@media (max-width: 500px) {
		li {
			width: 100%;
		}
	}
	@media (min-width: 501px) {
		li { 
			width: 50%;
			float: left;
		}
	}
	
	.matchContainer {
		@include clearfix;
	}
	
	.matchContainer {
		.teamLeft {
			-webkit-transform: perspective(100px) rotateY($rotationDeg);
		}
	
		.teamRight {
			-webkit-transform: perspective(100px) rotateY(-$rotationDeg);
		}
	}
}