@CHARSET "ISO-8859-1";

.matchContainer{
	
	border: solid 1px $light-gray;
	border-radius: 5px;
	
	.matchHeader{
		background-color: $light-gray;
	}
	
	.matchContent {
		span {
			text-align: center;
			vertical-align: middle;
			line-height: 100%;
		}
	}
	
	.team {
		width: 50%;
		display: inline;
	}

}