@CHARSET "ISO-8859-1";

$rotationDeg: 20deg;

.matchDetail {
		
	.matchContainer {
		.teamLeft {
			-webkit-transform: perspective(100px) rotateY($rotationDeg);
		}
	
		.teamRight {
			-webkit-transform: perspective(100px) rotateY(-$rotationDeg);
		}
	}
}
    
.otherGuessesContainer {
        
   margin-top: 25px;
        
    div {
      margin: 0;
      padding: 0;
    }
       
    .resultContainer {
        float: right;
    }
}


.ui-panel-animate {
	
   &.ui-panel-open.ui-panel-position-right.ui-panel-display-overlay {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		right: -5px;
	}

	&.ui-panel-position-left.ui-panel-display-overlay {
	left: 15px;
	
	}
}