.overview {

	.userIcon {
		border-radius: 50% !important;
	}
	
	li:before {
		color: $green;
		font-size: 2em !important;
	}
	
	.ui-grid-b {
	display: inline;
    float: right;
    width: 80%;
    }
    
    .myUser{
    	background-color: $light-green;
    }
}