@CHARSET "ISO-8859-1";

.team {
	@include clearfix;
	
	float: left;
	
	display: inline;
	
	text-align: center;
	
	.teamName{
		color: $green;
	}
	
	.teamIcon{
		max-height: 64px;
		max-width: 64px;
	}	
}
