<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

	<cc:interface>
	</cc:interface>

	<cc:implementation>
		<p:outputPanel styleClass="authContainer"
			rendered="#{not empty authSession.currentUser}">
			<p:commandLink id="btn-account" type="button" styleClass="menuButton">
				<p:graphicImage styleClass="authIcon"
					value="#{imageUrlProvider.getGravatarUrl(currentUserId)}" />
			</p:commandLink>

			<p:overlayPanel for="btn-account" at="right" showEffect="overlay">
				<p:graphicImage styleClass="authIcon"
					value="#{imageUrlProvider.getGravatarUrl(currentUserId)}" />
				<div class="authName">#{currentUserId}</div>
				<div class="authLogout">
					<p:commandButton value="Logout" action="#{authSession.logout()}" />
				</div>
			</p:overlayPanel>
		</p:outputPanel>
		<p:outputPanel styleClass="authContainer"
			rendered="#{empty authSession.currentUser}">

			<p:link href="/login.jsf" value="login" />

		</p:outputPanel>
	</cc:implementation>
</f:view>