<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile">

	<cc:interface>
		<cc:attribute name="match" type="de.rgse.tippkick.model.RgseMatchdata"
			required="true" />
	</cc:interface>

	<cc:implementation>

		<h:form class="guessContainer">
			<pm:field>
				<p:outputLabel for="homeTipp" value="homeTipp" />
				<pm:inputSlider id="homeTipp" maxValue="10" minValue="0"
					required="true" value="#{matchDetail.myGuess.result.scoreHome}">
				</pm:inputSlider>
			</pm:field>
			<pm:field>
				<p:outputLabel for="awayTipp" value="awayTipp" />
				<pm:inputSlider id="awayTipp" maxValue="10" minValue="0"
					required="true" value="#{matchDetail.myGuess.result.scoreAway}">
				</pm:inputSlider>
			</pm:field>
			<p:commandButton id="guessBtn" process="@form"
				action="#{matchDetail.addTipp()}" update="@(.updateList)"
				value="Tipp abgeben" />
		</h:form>
		<div class="otherGuessesContainer">

			<p:outputLabel for="guessList" value="Andere Tipps"
				rendered="#{not empty matchDetail.guesses}" />

			<p:dataList value="#{matchDetail.guesses}" var="guess"
				rendered="#{not empty matchDetail.guesses}" id="guessList">

				<p:graphicImage styleClass="otherGuessImage"
					value="#{imageUrlProvider.getGravatarUrl(guess.userId)}" />
				<h:outputText value="#{guess.userId}" />

				<tippkick:result result="#{guess.result}" encrypt="true" />
			</p:dataList>
		</div>
	</cc:implementation>
</f:view>