<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick"
	xmlns:p="http://primefaces.org/ui">

	<cc:interface>
		<cc:attribute name="match" type="de.rgse.tippkick.model.RgseMatchdata"
			required="true" />
		<cc:attribute name="showIcon" type="boolean" required="false"
			default="false" />
		<cc:attribute name="showResult" type="boolean" required="false"
			default="false" />
	</cc:interface>

	<cc:implementation>
		<div class="matchContainer">
			<a href="matchDetail.jsf?id=#{cc.attrs.match.matchID}">
				<div class="matchHeader">
					<h:outputText value="#{cc.attrs.match.matchDateTime}">
						<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
					</h:outputText>
				</div>
				<div class="matchContent">
					<tippkick:team team="#{cc.attrs.match.team1}"
						showIcon="#{cc.attrs.showIcon}" styleClass="teamLeft" />
					<tippkick:team team="#{cc.attrs.match.team2}"
						showIcon="#{cc.attrs.showIcon}" styleClass="teamRight" />
						
					<tippkick:result result="#{cc.attrs.match.result}" rendered="#{cc.attrs.showResult}"/>
				</div>
			</a>
		</div>
	</cc:implementation>
</f:view>