<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick"
	xmlns:cc="http://java.sun.com/jsf/composite">

	<composite:interface>
		<cc:attribute name="showIcon" type="boolean" required="false"
			default="false" />
	</composite:interface>
	<composite:implementation>

		<ul class="matchesContainer">
			<ui:repeat value="#{matchList.matches}" var="match">
				<li>
					<tippkick:match match="#{match}"
						showIcon="#{cc.attrs.showIcon}" />
				</li>
			</ui:repeat>
		</ul>
	</composite:implementation>
</f:view>