<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<composite:interface>
	</composite:interface>
	<composite:implementation>

		<p:commandButton id="btn-basic" icon="ui-icon-bars" type="button"
			styleClass="menuButton" />
		<p:overlayPanel for="btn-basic" widgetVar="pnl-basic" at="left"
			showEffect="overlay">

			<p:menu>
				<p:menuitem value="Panding Matches" url="/" />
				<p:menuitem value="Overview" url="/overview.jsf" />
				<p:menuitem value="Points" url="/points.jsf" />
			</p:menu>
		</p:overlayPanel>
	</composite:implementation>
</f:view>