<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick"
	xmlns:p="http://primefaces.org/ui">

	<cc:interface>
		<cc:attribute name="result" type="de.rgse.tippkick.model.Result"
			required="true" />
		<cc:attribute name="encrypt" type="boolean" required="false"
			default="false" />
	</cc:interface>

	<cc:implementation>
		<div class="resultContainer">
			<h:outputText
				value="#{cc.attrs.encrypt and not empty cc.attrs.result.scoreHome ? '?' : cc.attrs.result.scoreHome}" />
			<h:outputText
				value="#{not empty cc.attrs.result.scoreAway and not empty cc.attrs.result.scoreHome ? ' : ' : ''}" />
			<h:outputText
				value="#{cc.attrs.encrypt and not empty cc.attrs.result.scoreAway ? '?' : cc.attrs.result.scoreAway}" />
		</div>
	</cc:implementation>
</f:view>