<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<cc:interface>
		<cc:attribute name="team" type="de.rgse.tippkick.model.RgseTeam"
			required="true" />
		<cc:attribute name="showIcon" required="false" default="false"
			type="boolean" />
		<cc:attribute name="styleClass" required="false" />
	</cc:interface>

	<cc:implementation>
		<f:loadBundle basename="settings" var="settings" />
		<div class="team #{cc.attrs.styleClass}">
			<p:graphicImage
				value="#{settings.iconType eq 'emblem' ? cc.attrs.team.teamEmblemURL : cc.attrs.team.teamIconURL}"
				styleClass="teamIcon" rendered="#{cc.attrs.showIcon}" />
				<br/>
			<h:outputText value="#{cc.attrs.team.teamName}" styleClass="teamName" />
		</div>
	</cc:implementation>
</f:view>