<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick">

<f:view renderKitId="PRIMEFACES_MOBILE" />

<h:head>

	<h:outputStylesheet library="css" name="main.css" />

	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no" />
</h:head>

<h:body>

	<pm:page>
		<pm:header>
			<ui:insert name="header">
				<h:form>
					<tippkick:menu></tippkick:menu>
					<tippkick:auth></tippkick:auth>
				</h:form>
			</ui:insert>
		</pm:header>

		<pm:content>
			<ui:insert name="content">
				<div class="matchDetail">
					<tippkick:match match="#{matchDetail.matchdata}" showIcon="true"
						showResult="true" />
					<tippkick:guess match="#{matchDetail.matchdata}"></tippkick:guess>
				</div>
			</ui:insert>
		</pm:content>

	</pm:page>

</h:body>

</html>