<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick">

<f:view renderKitId="PRIMEFACES_MOBILE" />

<h:head>

	<h:outputStylesheet library="css" name="main.css" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no" />
</h:head>

<h:body>

	<pm:page id="pendingMatches">

		<pm:content>
			<form name="loginform" action="" method="POST" accept-charset="UTF-8"
				role="form">
				<pm:field>
					<input class="form-control" placeholder="Username or Email"
						name="username" type="text" />
				</pm:field>
				<pm:field>
					<input class="form-control" placeholder="Password" name="password"
						type="password" value="" />
				</pm:field>
				<pm:field>
					<label> <input name="rememberMe" type="checkbox"
						value="true" /> Remember Me
					</label>
				</pm:field>
				<input class="btn btn-lg btn-success btn-block" type="submit"
					value="Login" />
			</form>
		</pm:content>

	</pm:page>

</h:body>

</html>