<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick">

	<ui:composition template="/layout.xhtml">
		<ui:define name="content">
			<tippkick:match match="#{matchDetail.matchdata}" showIcon="true"
				showResult="true" />
			<tippkick:guess match="#{matchDetail.matchdata}"></tippkick:guess>
		</ui:define>
	</ui:composition>
</f:view>