<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick">

	<ui:composition template="/layout.xhtml">
		<ui:define name="content">
			<div class="overview">

				<p:dataList value="#{overview.playerReports}" var="report"
					type="ordered" >
					<p:panelGrid columns="3" styleClass="#{report.userId eq currentUserId ? 'myUser' : ''}">
						<p:graphicImage styleClass="userIcon"
							value="#{imageUrlProvider.getGravatarUrl(report.userId)}" />
						<h:outputText value="#{report.userId}" />
						<h:outputText value="#{report.gainedPoints}" />
					</p:panelGrid>
				</p:dataList>

			</div>
		</ui:define>
	</ui:composition>
</f:view>