<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pm="http://primefaces.org/mobile"
	xmlns:tippkick="http://java.sun.com/jsf/composite/tippkick">

	<ui:composition template="/layout.xhtml">
		<ui:define name="content">
			<div class="points">
				<pm:field>
					<p:outputLabel for="pointsLbl" value="points gained"></p:outputLabel>
					<h:outputText id="pointsLbl"
						value="#{points.reportForUser.gainedPoints}" />
				</pm:field>
				<pm:field>
					<p:outputLabel for="pointsPerGuessLbl" value="points per guess"></p:outputLabel>
					<h:outputText id="pointsPerGuessLbl"
						value="#{points.reportForUser.gainedPoints / points.reportForUser.guessCount}" />
				</pm:field>
				<pm:field>
					<p:outputLabel for="correctGuesesLbl" value="correct Gueses"></p:outputLabel>
					<h:outputText value="#{points.reportForUser.correctGueses.size()}" />
					<p:dataList id="correctGuesesLbl"
						value="#{points.reportForUser.correctGueses}" var="guess">
						<h:outputText
							value="#{guess.matchdata.team1} - #{guess.matchdata.team2}" />
						<div class="pointsResult">
							<h:outputText value="#{guess.matchdata.result}  " />
							<h:outputText value="  (#{guess.guess.result}) " />
						</div>
					</p:dataList>
				</pm:field>
				<pm:field>
					<p:outputLabel for="correctDifferenceLbl"
						value="correct Difference"></p:outputLabel>
					<h:outputText
						value="#{points.reportForUser.correctDifferenceGuesses.size()}" />
					<p:dataList id="correctDifferenceLbl"
						value="#{points.reportForUser.correctDifferenceGuesses}"
						var="guess">
						<h:outputText
							value="#{guess.matchdata.team1} - #{guess.matchdata.team2}" />
						<div class="pointsResult">
							<h:outputText value="#{guess.matchdata.result}  " />
							<h:outputText value="  (#{guess.guess.result}) " />
						</div>
					</p:dataList>
				</pm:field>
				<pm:field>
					<p:outputLabel for="correctVictorLbl" value="correct Victor"></p:outputLabel>
					<h:outputText
						value="#{points.reportForUser.correctVictorGuesses.size()}" />
					<p:dataList id="correctVictorLbl"
						value="#{points.reportForUser.correctVictorGuesses}" var="guess">
						<h:outputText
							value="#{guess.matchdata.team1} - #{guess.matchdata.team2}" />
						<div class="pointsResult">
							<h:outputText value="#{guess.matchdata.result}  " />
							<h:outputText value="  (#{guess.guess.result}) " />
						</div>
					</p:dataList>
				</pm:field>
				<pm:field>
					<p:outputLabel for="wrongGuessesLbl" value="wrong Guesses"></p:outputLabel>
					<h:outputText value="#{points.reportForUser.wrongGuesses.size()}" />
					<p:dataList id="wrongGuessesLbl"
						value="#{points.reportForUser.wrongGuesses}" var="guess">
						<h:outputText
							value="#{guess.matchdata.team1} - #{guess.matchdata.team2}" />
						<div class="pointsResult">
							<h:outputText value="#{guess.matchdata.result}  " />
							<h:outputText value="  (#{guess.guess.result}) " />
						</div>
					</p:dataList>
				</pm:field>
				<pm:field>
					<p:outputLabel for="pendingGuessesLbl" value="pending Guesses" />
					<h:outputText value="#{points.reportForUser.pendingGuesses.size()}" />
					<p:dataList id="pendingGuessesLbl"
						value="#{points.reportForUser.pendingGuesses}" var="guess">
						<h:outputText
							value="#{guess.matchdata.team1} - #{guess.matchdata.team2}" />
						<div class="pointsResult">
							<h:outputText value="#{guess.matchdata.result}  " />
							<h:outputText value="  (#{guess.guess.result}) " />
						</div>
					</p:dataList>
				</pm:field>
			</div>
		</ui:define>
	</ui:composition>
</f:view>